@import '../../styles/variables.scss';



.ourInformation{
  position: relative;
  .ourInformation_title{
    font-family: 'Jura', sans-serif;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
  }
  .ourInformation_subtitle{
    font-size: 18px;
    line-height: 36px;
    font-weight: 400;
  }
}

.ourInformation_lineBg{
  position: absolute;
  z-index: 0;
  top: -116px;
  left: 50%;
  transform: translate(-50.5%);
}



.ourInformation_row{
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-areas:
  "philosophy philosophyAnimation"
  "missionAnimation mission"
  "metahumans metahumansAnimation"
;
  row-gap: 144px;
  margin-bottom: 144px;

  .ourInformation_philosophy{
    grid-area: philosophy;
    justify-self: end;
    align-self: center;
    max-width: 540px;
    margin-right: 31px;
  }
  .ourInformation_philosophy__animation{
    grid-area: philosophyAnimation;
    justify-self: start;
    margin-left: 170px;
  }
  .ourInformation_mission__animation{
    grid-area: missionAnimation;
    justify-self: end;
    margin-right: 161px;
  }
  .ourInformation_mission{
    grid-area: mission;
    justify-self: start;
    align-self: center;
    max-width: 540px;
    margin-left: 31px;
  }
  .ourInformation_metahumans{
    grid-area: metahumans;
    justify-self: end;
    align-self: center;
    max-width: 540px;
    margin-right: 31px;
  }
  .ourInformation_metahumans__animation{
    grid-area: metahumansAnimation;
    justify-self: start;
    margin-left: 166px;
  }
}



.ourValues{
  .ourValues_title{
    font-family: 'Jura', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
  }
  .ourValues_block{
    margin: 0 48px;
    position: relative;
    padding-top: 150px;
    overflow: hidden;
    background-color: #ECF2FA;
    .ourValues_triangle{
      position: absolute;
      top: 245px;
      left: 64px;
    }
    .ourValues_rhombus{
      position: absolute;
      bottom: 60px;
      right: -40px;
    }
    .ourValues_row{
      display: grid;
      max-width: 100%;
      margin: 85px 15px 120px;
      grid-template-areas:
      "health head"
      "earth move"
      "sociable security"
      "lamp humanity "
    ;
      justify-self: center;
      align-self: center;
      grid-column-gap: 66px;
      grid-row-gap: 30px;
    }
    #ourValues_grid__health{
      grid-area: health;
      justify-self: end;
      width: 88%;
    }
    #ourValues_grid__head{
      width: 88%;
      grid-area: head;
    }
    #ourValues_grid__earth{
      grid-area: earth;
      justify-self: end;
      width: 88%;
    }
    #ourValues_grid__move{
      grid-area: move;
      width: 88%;
    }
    #ourValues_grid__sociable{
      grid-area: sociable;
      justify-self: end;
      width: 88%;
    }
    #ourValues_grid__security{
      grid-area: security;
      width: 88%;
    }
    #ourValues_grid__lamp{
      grid-area: lamp;
      justify-self: end;
      width: 88%;
    }
    #ourValues_grid__humanity{
      grid-area: humanity;
      width: 88%;
    }

    .ourValues_column{
      display: flex;
      .ourValues_column__text{
        :first-child{
          width: 100%;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 24px;
          line-height: 33px;
          font-family: 'Jura', sans-serif;
        }
        :last-child{
          width: 432px;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
        }
      }
      img{
        margin-top: 9px;
        height: 72px;
        width: 72px;
        margin-right: 36px;
      }
    }
  }
}

.personality{
  margin: 130px 0 87px 0;
  overflow: hidden;
  text-align: center;
  font-size: 18px;
  .personality_title{
    margin-bottom: 45px;
    line-height: 33px;
    font-weight: 600;
  }

  .personality_moreText{
    line-height: 36px;
    a{
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 1620px) {
  .ourValues {
    .ourValues_block {
      .ourValues_triangle {
        position: absolute;
        top: 245px;
        left: 34px;
      }
      .ourValues_rhombus {
        bottom: 60px;
        right: -70px;
      }
    }
  }
}

@media screen and (max-width: 1540px) {
  .ourValues {
    .ourValues_block {
      .ourValues_triangle {
        position: absolute;
        top: 245px;
        left: 14px;
      }
      .ourValues_rhombus {
        bottom: 60px;
        right: -100px;
      }
      .ourValues_column{
        display: flex;
        .ourValues_column__text{
          :first-child{
            width: 100%;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
            font-family: 'Jura', sans-serif;
          }
          :last-child{
            width: 100%;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
          }
        }
        img{
          margin-top: 9px;
          height: 72px;
          width: 72px;
          margin-right: 36px;
        }
      }
    }
  }
}



@media screen and (max-width: 1380px) {
  .ourInformation_row {
    .ourInformation_philosophy{
      max-width: 440px;
      margin-right: 11px;
    }
    .ourInformation_philosophy__animation{
      margin-left: 50px;
    }
    .ourInformation_mission__animation{
      margin-right: 50px;
    }
    .ourInformation_mission{
      max-width: 440px;
      margin-left: 11px;
    }
    .ourInformation_metahumans{
      max-width: 440px;
      margin-right: 11px;
    }
    .ourInformation_metahumans__animation{
      margin-left: 36px;
    }
  }

  .ourInformation_lineBg{
    width: 610px;
    position: absolute;
    height: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .ourInformation_row {
    margin: 0 18px;
    .ourInformation_philosophy{
      max-width: 400px;
      margin-right: 11px;
    }
    .ourInformation_philosophy__animation{
      margin: -40px 0 0 35px ;
      width: 80px;
      height: 80px;
    }
    .ourInformation_mission__animation{

    }
    .ourInformation_mission{
      max-width: 440px;
      margin-left: 11px;
    }
    .ourInformation_metahumans{
      max-width: 440px;
      margin-right: 11px;
    }
    .ourInformation_metahumans__animation{
      margin-left: 36px;
    }
  }

  .ourInformation_lineBg{
    width: 610px;
    position: absolute;
    height: 90%;
  }

  .ourInformation{
    position: relative;
    .ourInformation_title{
      font-family: 'Jura', sans-serif;
      text-transform: uppercase;
      font-size: 36px;
      line-height: 48px;
      font-weight: 700;
    }
    .ourInformation_subtitle{
      font-size: 16px;
      line-height: 32px;
      font-weight: 400;
    }
  }
  .ourInformation_lineBg{
    width: 410px;
    position: absolute;
    height: 90%;
  }
  .ourValues {
    .ourValues_block {
      .ourValues_triangle {
        display: none;
      }
      .ourValues_rhombus {
        display: none;
      }
      .ourValues_row{

        grid-column-gap: 66px;
        grid-row-gap: 30px;
      }
      #ourValues_grid__health{
        grid-area: health;
        justify-self: end;
        width: 95%;
      }
      #ourValues_grid__head{
        width: 95%;
        grid-area: head;
      }
      #ourValues_grid__earth{
        grid-area: earth;
        justify-self: end;
        width: 95%;
      }
      #ourValues_grid__move{
        grid-area: move;
        width: 95%;
      }
      #ourValues_grid__sociable{
        grid-area: sociable;
        justify-self: end;
        width: 95%;
      }
      #ourValues_grid__security{
        grid-area: security;
        width: 95%;
      }
      #ourValues_grid__lamp{
        grid-area: lamp;
        justify-self: end;
        width: 95%;
      }
      #ourValues_grid__humanity{
        grid-area: humanity;
        width: 95%;
      }
    }
  }


}

@media screen and (max-width: 768px) {

  .ourInformation_row {
    max-width: 100% ;

    position: relative;
    z-index: 1;
    display: grid;
    grid-template-areas:
  "philosophyAnimation"
  "philosophy"
  "missionAnimation"
  "mission"
  "metahumansAnimation"
  "metahumans";
    row-gap: 57px;

    .ourInformation_philosophy{
      justify-self: center;
      max-width: 90%;
      margin: 0 0 18px;
    }
    .ourInformation_philosophy__animation{
      width: 294px;
      height: 100%;
      justify-self: center;
      margin-left: 50px;
    }
    .ourInformation_mission__animation{
      justify-self: center;
    }
    .ourInformation_mission{
      justify-self: center;
      margin: 0 0 18px;
      max-width: 90%;
    }
    .ourInformation_metahumans{
      justify-self: center;
      margin-right: 11px;
      max-width: 90%;
    }
    .ourInformation_metahumans__animation{
      justify-self: center;
      margin-left: 36px;
    }
  }
  .ourValues {
    .ourValues_block{
      margin: 0 18px;
    }
    .ourValues_title{
      font-size: 36px;
      line-height: 42px;
    }
    .ourValues_block {
      padding-top: 10px;
      .ourValues_row {
        display: grid;
        max-width: 100%;
        margin: 85px 0 120px 20px;
        row-gap: 20px;
        grid-template-areas:
        "health"
        "head"
        "earth"
        "move"
        "sociable"
        "security"
        "lamp"
        "humanity"
        ;
        #ourValues_grid__health{
          justify-self: start;
        }
        #ourValues_grid__head{
          justify-self: start;
        }
        #ourValues_grid__earth{
          justify-self: start;
        }
        #ourValues_grid__move{
          justify-self: start;
        }
        #ourValues_grid__sociable{
          justify-self: start;
        }
        #ourValues_grid__security{
          justify-self: start;
        }
        #ourValues_grid__lamp{
          justify-self: start;
        }
        #ourValues_grid__humanity{
          justify-self: start;
        }
      }
      .ourValues_column{
        .ourValues_column__text{
          :first-child{
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 10px;
          }
        }
        img{
          margin-right: 20px;
        }
      }
    }
  }
  .ourInformation_lineBg{
    display: none;
  }
  .ourInformation{
    position: relative;
    .ourInformation_title{
      text-align: center;
      line-height: 42px;
      margin-bottom: 24px;
    }
    .ourInformation_subtitle{
      text-align: center;
      line-height: 24px;
    }
  }
  .personality{
    margin: 100px 0 67px 0;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    .personality_title{
      margin-bottom: 45px;
      line-height: 33px;
      font-weight: 600;
    }

    .personality_moreText{
      text-align: center  ;
      margin: 0 15px;
    }
  }
}

@media screen and (max-width: 425px) {
  .ourValues {
    .ourValues_block {
      .ourValues_title{
        margin-top: 80px;
      }
      .ourValues_row {
        margin: 85px 0 60px 20px;
      }
    }
  }
  .ourInformation_row {
    margin: 85px 0 10px 20px;
    row-gap: 37px;

    .ourInformation_philosophy__animation{
      width: 210px;
      justify-self: center;
      margin: 0 0 0 20px;
    }
    .ourInformation_mission__animation{
      justify-self: center;
      margin: 0;
    }


    .ourInformation_metahumans__animation{
      justify-self: center;
      margin-left: -12px;

    }
  }
}
