.manContainer{
  position: relative;
  width: 493px;
  height: 408px;

  .azureBg_block{
    position: absolute;
    left: 50%;
    bottom: 5.6%;
    transform: translateX(-50%);
  }
  .manCube_block{
    position: absolute;
    z-index: 6;
    top: 34.5%;
    right: 9.5%;

  }
  .manCircle_block{
    position: absolute;
    left: 2.6%;
    bottom: 7.6%;
    z-index: 5;
  }
  .manGlasses_block{
    position: absolute;
    z-index: 6;
    left: 15.8%;
    top: 24%;

  }
  .manHairBg_block{
    z-index: 0;
    position: absolute;
    top: 8%;
    left: 19.2%;

  }
  .manTriangle_block{
    z-index: 5;
    position: absolute;
    left: 12.5%;
    bottom: 11%;

  }
  .manEar_block{
    position: absolute;
    right: 36.9%;
    top: 29.4%;
    z-index: 5;
  }

  .manFace_block{
    width: 35.6%;
    height: 250px;
    position: absolute;
    bottom: 81.92px;
    left: 116px;

  }
  .manHair_block{
    width: 242px;
    height: 154px;
    z-index: 4;
     position: absolute;
     top: 0;
     left: 67.12px;
   }
}

.manHair_container{
  height: 100%;
  width: 100%;
  position: relative;
  img{
    height: 100%;
    width: 100%;
  }
  .polygon{
    position: absolute;
    top: 0;
    clip-path: polygon(0% 0%, 88% 1%, 91% 2%, 93% 4%, 95% 6%, 96% 8%, 97% 10%, 98% 12%, 98% 15%, 99% 17%, 100% 19%, 100% 23%, 99% 83%, 99% 88%, 98% 91%, 96% 94%, 95% 96%, 93% 97%, 91% 99%, 89% 99%, 87% 100%, 86% 100%, 83% 99%, 81% 97%, 79% 94%, 77% 91%, 76% 87%, 75% 82%, 75% 76%, 75% 72%, 74% 68%, 73% 65%, 71% 62%, 68% 59%, 65% 57%, 62% 56%, 60% 57%, 30% 56%, 24% 54%, 20% 51%, 16% 47%, 12% 42%, 10% 39%, 7% 34%, 5% 29%, 4% 22%, 2% 19%);
    height: 100%;
    width: 100%;
  }
   .dashed{
     height: auto !important;
     width: auto !important;
     position: absolute !important;
     top: -40px !important;
     left: -45px !important;
  }
}


.manFace_container{
  height: 100%;
  width: 100%;
  position: relative;
  img{
    height: 100%;
    width: 100%;
  }
  .polygon{
    position: absolute;
    top: 0;
    clip-path:polygon(86% 0%, 89% 98%, 84% 100%, 73% 100%, 68% 99%, 66% 98%, 63% 96%, 60.5% 93.5%, 58% 90%, 58% 89%, 58% 67%, 39% 67%, 33% 66.5%, 23% 65%, 16% 62%, 14% 61%, 10% 58%, 7% 55%, 4% 51%, 2% 48%, 1% 45%, 1% 42%, 0% 40%, 0% 37%, 0% 0%);
    height: 100%;
    width: 100%;
  }
  .dashed{
    width: auto !important;
    height: auto !important;
    position: absolute !important;
    top: -40px !important;
    left: -30px !important;
  }
}