
.space_container{
  height: 311px;
  width: 445px;
  position: relative;

  .ellipse_bg{
    height: 75.2%;
    width: 86.9%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .star{
    position: absolute;
    height: 23.47%;
    width: 12.8%;
    top: 5.1%;
    left: 12.1%;
  }
  .mainFigure_block{
    height: 65.5%;
    width: 33%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .cometFigure_block{
    height: 44%;
    width: 19.7%;
    position: absolute;
    right: 0;
    bottom: 18.3%;
  }
  .circle_block{
    height: 32.8%;
    width: 22.9%;
    position: absolute;
    bottom: 8%;
    left: 12.1%;
  }
}

.mainFigure_container{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  img{
    height: 100%;
    width: 100%;
  }
  .polygon {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(25% 4%, 26% 64%, 26% 68%, 28% 72%, 31% 75%, 33% 77%, 36% 78%, 39% 79%, 43% 80%, 47% 81%, 53% 81.5%, 57% 81%, 62% 80%, 67% 77%, 70% 75%, 73% 72%, 76% 69%, 75.5% 66%, 76% 65%, 76% 4%, 77% 6%, 79% 8%, 83% 8%, 88% 8%, 91% 8%, 94% 7.1%, 98% 6.9%, 100% 5%, 100% 67%, 99.5% 72%, 98% 76%, 95% 81%, 90% 86%, 82% 92%, 70% 96%, 63% 98%, 53% 99%, 44% 98%, 31% 96%, 22% 92%, 11% 83%, 3% 73%, 3% 67%, 1% 5%, 3% 7%, 8% 8%, 11% 8%, 15% 8%, 18% 7%, 22% 7%, 24% 6%);
  }

  .dashed{
    width: auto !important;
    height: auto !important;
    position: absolute !important;
    top: -50px !important;
    left: -30px !important;
  }
}


.comet_block{
  position: relative;
  height: 100%;
  width: 100%;
  img{
    height: 100%;
    width: 100%;
  }
  .comet_back{
    position: absolute;

    height: 92%;
    width: 70%;
  }
  .cometAnimateFigure_container {
  position: absolute;

  }
  .polygon {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 70% 99%, 100% 65%);
  }

  .dashed{
    width: auto !important;
    height: auto !important;
    position: absolute !important;
    top: -50px !important;
    left: -30px !important;
  }
}

.circle_container{
  height: 100%;
  width: 100%;
  position: relative;
  img{
    height: 100%;
    width: 100%;
  }
  .polygon {
    position: absolute ;
    top: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(42.7% at 50% 50%);
  }

  .dashed{
    width: auto !important;
    height: auto !important;
    position: absolute !important;
    top: -20px !important;
    left: -30px !important;
  }
}


@media screen and (max-width: 1024px) {
  .space_container {
    height: calc(311px * 0.7);
    width: calc(445px * 0.7);
  }
}