.aboutSlide_row{
  margin: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.aboutSlide_animation{
  margin-right: 100px;
  justify-self: end;
  align-self: center;
  background-image: url('../../../images/Slide/About.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 500px;
}

.aboutSlide_information{
  margin-left: 50px;
  align-self: center;
  max-width: 540px;
}
