

.birds_container{
  position: relative;
  height: 385px;
  width: 420px;

  .fonBg_bird_block{
    position: absolute;
    height: 90.6%;
    width: 57.1%;
    bottom: 0;
    left: 18.8%;
  }
  .azureBird_block{
    width: 57.1%;
    height: 41.8%;
    top: 0;
    right: 0;
    position: absolute;
  }
  .whiteBird_block{
    width: 59.7%;
    height: 51.4%;
    position: absolute;
    top: 36.1%;
    left: 0;
  }
  .whiteCircle_bird_block{
    width: 20%;
    height: 21.8%;
    top: 11.9%;
    left: 17.3%;
    position: absolute;

  }
}

.whiteBird_container{
  width: 100%;
  height: 100%;
  position: relative;
  .polygon{
    position: absolute;
    top: 0;
    clip-path:polygon(82% 99%, 58% 86%, 56% 84%, 63% 81%, 71% 75%, 75% 71%, 80% 71%, 86% 63%, 91% 53%, 94% 45%, 98% 35%, 99% 30%, 99% 16%, 34% 72%, 33.5% 69%, 31.5% 65%, 29% 61%, 23% 58%, 17% 59%, 13% 58%, 9% 59%, 10% 64%, 10% 68%, 11% 72%, 12% 75%, 13% 78%, 15% 82%, 17.5% 86%, 20% 89%, 23% 92%, 27% 95%, 29% 94%, 32% 97%, 34% 98%, 37% 98%, 39% 97%, 40% 99%);
    height: 100%;
    width: 100%;

  }
  img{
    height: 100%;
    width: 100%;
  }
  .dashed{
    height:auto !important;
    width:auto !important;
    position: absolute !important;
    top: -30px !important;
    left: -30px !important;
  }
}

.azureBird_container{
  width: 100%;
  height: 100%;
  position: relative;
  img{
    width: 100%;
    height: 100%;
  }
  .polygon{
    position: absolute;
    top: 0;
    clip-path: polygon(16% 0%, 29% 64%, 28% 74%, 25% 58%, 21% 59%, 18% 58%, 15% 58%, 13% 58%, 12% 57%, 11% 54%, 10% 50%, 9% 47%, 8% 43%, 7% 35%, 7.5% 28%, 7.5% 24%, 8% 21%, 9% 17%, 9% 15%, 10% 13%, 12% 8%, 12% 8%);
    height: 100%;
    width: 100%;
  }
  .dashed{
    width: auto !important;
    height: auto !important;
    position: absolute !important;
    top: -50px !important;
    left: -30px !important;
  }
}

.whiteCircle_container{
  width: 100%;
  height: 100%;
  position: relative;
  img{
    width: 100%;
    height: 100%;
  }
  .polygon{
    position: absolute;
    top: 0;
    clip-path: circle(50% at 50% 50%);
    height: 100%;
    width: 100%;
  }
  .dashed{
    width: auto !important;
    height: auto !important;
    position: absolute !important;
    top: -30px !important;
    left: -30px !important;
  }
}

@media screen and (max-width: 1024px) {
  .birds_container {
    height: calc(385px * 0.7);
    width: calc(420px * 0.7);
  }
}

@media screen and (max-width: 425px) {
  .birds_container {
    height: calc(385px * 0.5);
    width: calc(420px * 0.5);
  }
}