
.carousel_container{
  top: 30%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 1140px;
}

.row{
  display: flex;
  justify-content: space-between;
  h3{
    width: 500px;
  }
  .column_left{
    margin-left: 55px;
    position: relative;
    z-index: 1;
  }
  .column_right{
    text-align: right;
    position: relative;
    z-index: 1;
  }
  .phone_block{
    position: absolute;
    top: -34%;
    left: 40%;
    transform: translateY(-50%);
    z-index: 0;
  }
}

