.timeHeader_container{
  height: 100%;
  width: 100%;
  background: no-repeat center/cover url("../../../images/Time/headerBg.png");

  position: relative;
  .blueBallon_block{
    height: 40.6%;
    width: 20.3%;
    position: absolute;
    left: 15.3%;
    bottom: 6.5%;

  }
  .darkBallon_block{
    height: 18%;
    width: 9%;
    position: absolute;
    top: 5.5%;
    left: 39.2%;

  }
  .rhombus_block{
    height: 57.5%;
    width: 23.8%;
    position: absolute;
    right: 20%;
    bottom: 11.5%;
  }
}

.timeRhombus_container{
  position: relative;
  height: auto;
  width: 100%;
  img{
    width: 100%;
    height: auto;
  }
  .polygon {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(99% 1%, 18% 40%, 56% 43%);
  }
  .dashed{
    height: auto !important;
    width: auto !important;
    position: absolute !important;
    top: -80px !important;
    left: -30px !important;
  }
}

.timeBlueBalloon_container{
  position: relative;
  height: auto;
  width: 100%;
  img{
    height: auto;
    width: 100%
  }
  .polygon {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    clip-path: ellipse(49% 36% at 50% 36%);
  }
  .dashed{
    height: auto !important;
    width: auto !important;
    position: absolute !important;
    top: -80px !important;
    left: -30px !important;
  }
}

.timeDarkBalloon_container{
  position: relative;
  height: auto;
  width: 100%;
  img{
    height: auto;
    width: 100%
  }
  .polygon {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    clip-path:polygon(50% 99%, 43% 92%, 36% 86%, 30% 80%, 23% 73%, 16% 65%, 11% 59%, 8% 55%, 5% 50%, 3% 45%, 2% 41%, 0% 38%, 0% 35%, 1% 31%, 2% 27%, 4% 22%, 7% 18%, 11% 15%, 14% 11%, 18% 8%, 24% 5%, 26% 4%, 34% 2%, 38% 1%, 43% 0%, 50% 0%, 57% 0%, 63% 1%, 68% 2%, 73% 4%, 77% 6%, 80% 7%, 84% 10%, 86% 11%, 90% 14%, 92% 16%, 94% 18%, 96% 21%, 98% 24%, 99% 27%, 100% 29%, 100% 30%, 100% 34%, 100% 38%, 99.5% 40%, 98.5% 43%, 97% 47%, 95% 52%, 91% 57%, 87% 62%, 84% 67%, 80% 71%, 77% 75%, 72% 79%, 69% 82%, 67% 84%)
  }
  .dashed{
    height: auto !important;
    width: auto !important;
    position: absolute !important;
    top: -80px !important;
    left: -40px !important;
  }
}

@media screen and (max-width: 768px) {
  .timeHeader_container {
    height: 343px;
    width: 100%;
  }
}

