@import '../styles/variables.scss';
html, body {
  overflow-x: hidden;
}

.bigContainer{
  max-width: 1920px;
  margin: 0 auto;
}

.container{
  max-width: 1180px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}



.preview{
  height: 942px;
  margin: 0 48px;

  .preview__row {
    margin-top: 20px;
    background-color: #fff;
    display: grid;
    height: 686px;
    grid-template-areas:
            "animate text";
    grid-template-columns: 1fr 1fr;
    z-index: 2;
  }

  .preview__animations {
    grid-area: animate;
    width: 100%;
    position: relative;
    overflow: hidden;
    .headerBg_about{
      position: absolute;

    }
    .headerBg_time{
      position: absolute;
    }
  }

  .preview__informations {
    grid-area: text;
    margin-left: 31px;
    align-self: center;
    max-width: 540px;

    .preview__title{
      font-size: 60px;
      line-height: 78px;
      font-weight: 700;
      font-family: 'Jura', sans-serif;
    }
    .preview__subtitle {
      font-size: 18px;
      line-height: 36px;
    }
  }

  .preview__scroll {
    position: relative;
    margin: 53px auto 0;
    max-width: 384px;

    h5 {
      display: block;
      position: relative;
      text-align: center;
      font-family: 'Jura', sans-serif;
      line-height: 30px;
      font-size: 18px;
      font-weight: 700;
      color: $blue;

      &:before {
        content: '';
        position: absolute;
        display: block;
        top: -50px;
        left: 50%;
        height: 42px;
        width: 1px;
        background-image: url("../images/Time/dashedLine.png");
        background-repeat: no-repeat;
      }
    }

    span{
      position: absolute;
      display: block;
      bottom: -130px;
      left: 50%;
      transform: translateX(-50%);
      height: 84px;
      width: 1px;
      background-image: url("../images/Time/dashedLine.png");
      background-repeat: no-repeat;
    }

    .arrow {
      position: absolute;
      display: block;
      width: 14px;
      height: 10px;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url("../images/Time/ar.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}



@media screen and (max-width: 1780px) {
  .headerBg_about{
    position: absolute;
    transform: translateX(-33%);
  }
  .preview__informations {
    width: 440px;
  }

}

@media screen and (max-width: 1380px) {
  .headerBg_about{
    position: absolute;
    transform: translateX(-43%);
  }
  .preview__informations {
    align-self: center;
    width: 340px;
    .preview__title{
      font-size: 48px ;
      line-height: 62px;
      font-weight: 700;
      font-family: 'Jura', sans-serif;
    }
    .preview__subtitle {
      font-size: 18px;
      line-height: 36px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .headerBg_about{
    position: absolute;
    left: -130px;
  }
  .preview{
    margin: 0 18px;
  }
  .preview__informations {
    align-self: center;
    width: 340px;
    .preview__title{
      font-size: 42px !important;
      line-height: 56px !important;
      font-weight: 700 !important;
      font-family: 'Jura', sans-serif;
    }
    .preview__subtitle {
      font-size: 16px;
      line-height: 28px;
    }
  }
}

@media screen and (max-width: 768px) {
  .preview__row {
    height: 649px;
    grid-template-areas:
            "animate"
            "text" !important;
  ;
    grid-template-columns: 1fr !important;
  }
  .headerBg_about{
    position: absolute;
    height: 431px;
    top: -20px;
    width: calc(96% - 36px);
    left: 0;

  }
  .preview{
    margin: 0 18px;
  }

  .preview__informations {
    justify-self: center;
    text-align: center;
  }
}

@media screen and (max-width: 425px) {

  .headerBg_about{
    position: absolute;

  }

  .preview__informations {

    width: 268px;
    .preview__title{
      font-size: 36px !important;
      line-height: 42px !important;
      font-weight: 700 !important;
      font-family: 'Jura', sans-serif;
    }
    .preview__subtitle {
      font-size: 16px;
      line-height: 28px;
    }
  }
}