.contactsSlide_row{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contactsSlide_information{
  align-self: center;
  max-width: 500px;
}

.contactsSlide_subscribe{

}

.socialIcons_block{

  .facebook{
    display: inline-block;
    height: 48px;
    width: 48px;
    background-image: url("../../../images/icons/facebook.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 18px;
  }
  .instagram{
    display: inline-block;
    height: 48px;
    width: 48px;
    background-image: url("../../../images/icons/instagram.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 18px;
  }
  .subtract{
    display: inline-block;
    height: 48px;
    width: 48px;
    background-image: url("../../../images/icons/subtract.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}