.contactsSlide_row{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contactsSlide_information{
  align-self: center;
  max-width: 500px;
}

.contactsSlide_subscribe{

}

.subscribe_block{

}

.contactsEmail_block{

  .email_block{

  }
  input{
    width: 302px;
  }
}