@import '../../../styles/variables.scss';

.start_container {
  position: relative;
  height: 100%;

  .logoText_block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 34px;
      font-weight: 900;
      text-transform: uppercase;
    }
    p {
      max-width: 810px;
      text-align: center;
    }
  }
  .logoItems_block{
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}



