@import '../../styles/variables.scss';

.container{
  max-width: 2016px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  color: $mid-gray;
}

.row{
  display: grid;
  margin: 51px 48px;
  grid-template-areas:
  "linkIcon email link"
  "copyright copyright privacy"
;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 17px;
}

.linkIcons_block{
  grid-area: linkIcon;
  margin-top: 13px;
  .glyph{
    display: inline-block;
    height: 72px;
    width: 72px;
    background-image: url("../../images/icons/glyph.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 18px;
  }
  .aye{
    display: inline-block;
    height: 72px;
    width: 72px;
    background-image: url("../../images/icons/eye.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.email_blocks{
  grid-area: email;

}


.links_block{
  grid-area: link;
  margin-top: 13px;
  text-align: right;
}

.copyright_block{
  grid-area: copyright;
  a{
    color: $mid-gray;
    text-decoration: underline;
  }
}

.privacy_block{
  grid-area:privacy;
  text-align: right;
  text-decoration: underline;
  a{
    color: $mid-gray;

  }
  :first-child{
    margin-right: 18px;
    width: 95px;
  }
}

@media  screen and (max-width: 1441px){
  .email_block{
    input{
      width: 362px;
    }
  }
}