@import '../../styles/variables.scss';

.container{
  max-width: 2016px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  color: $mid-gray;
}

.row{
  display: grid;
  margin: 51px 48px;
  grid-template-areas:
  "linkIcon email link"
  "copyright copyright privacy"
;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 17px;
}

.linkIcons_block{
  grid-area: linkIcon;
  margin-top: 13px;
  .glyph{
    display: inline-block;
    height: 72px;
    width: 72px;
    background-image: url("../../images/icons/glyph.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 18px;
  }
  .aye{
    display: inline-block;
    height: 72px;
    width: 72px;
    background-image: url("../../images/icons/eye.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.email_block{
  grid-area: email;
  p{
    font-family: 'Jura', sans-serif;
    color: $dark-blue;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 3px;
  }
  div{
    display: flex;
  }
  input{
    width: 462px;
    height: 60px;
    margin-right: 18px;
    border: none;
    border-radius: 3px;
    padding: 0 18px;
    color: $dark-blue;
    ::placeholder{
      color: #9BADC2;
    }
  }
  button{
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 3px;
    background-color: $blue;
    background-image: url("../../images/icons/arrow.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}


.socialIcons_block{
  grid-area: link;
  margin-top: 13px;
  text-align: right;
  .facebook{
    display: inline-block;
    height: 48px;
    width: 48px;
    background-image: url("../../images/icons/facebook.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 18px;
  }
  .instagram{
    display: inline-block;
    height: 48px;
    width: 48px;
    background-image: url("../../images/icons/instagram.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 18px;
  }
  .subtract{
    display: inline-block;
    height: 48px;
    width: 48px;
    background-image: url("../../images/icons/subtract.png");
    background-repeat: no-repeat;
    background-size: contain;

  }
}

.copyright_block{
  grid-area: copyright;
  a{
    color: $mid-gray;
    text-decoration: underline;
  }
}

.privacy_block{
  grid-area:privacy;
  text-align: right;
  text-decoration: underline;
  a{
    color: $mid-gray;

  }
  :first-child{
    margin-right: 18px;
    width: 95px;
  }
}

@media  screen and (max-width: 1441px){
  .email_block{
    input{
      width: 362px;
    }
  }
}