@import '../../styles/variables.scss';

.metaverse {
  margin: 0 20px;
}

.metaverse__row{
  display: grid;
  grid-template-areas:
  "header header"
  "vase space"
;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 135px;

  h2{
    grid-area: header;
    margin-bottom: 54px;
    display: block;
    text-align: center;
    font-family: 'Jura', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 3px;
  }
  .animation__vase{
    grid-area: vase;
    justify-self: end;
    align-self: end;
    .animation_vase__block{
      position: relative;
      left: 50%;
      transform: translate(-50%);
    }
    p{
      position: relative;
      z-index: 10;
      max-width: 440px;
      font-size: 18px;
      line-height: 36px;
      text-align: center;
    }
  }
  .animation__space{
    grid-area: space;
    align-self: center;
    justify-self: start;

    p{
      position: relative;
      z-index: 10;
      max-width: 440px;
      font-size: 18px;
      line-height: 36px;
      text-align: center;
    }
  }
}

.app{
  margin-top: 220px;
  position: relative;
  z-index: 1;
}

.app_row{
  display: grid;
  grid-template-areas:
  "header header"
  "info phone"
;
  grid-template-columns: 1fr 1fr;
  .app_header {
    grid-area: header;
    margin-bottom: 240px;
    position: relative;
    justify-self: center;

    .bgLine {
      z-index: 0;
      content: '';
      position: absolute;
      display: block;
      bottom: -120px;
      left: 50%;
      transform: translateX(-50%);
      width: 1142px;
      height: 963px;
      background-image: url("../../images/Time/bgLine.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    .app_title {
      position: relative;
      z-index: 10;
      text-align: center;
      font-family: 'Jura', sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 48px;
      line-height: 60px;
      letter-spacing: 3px;
    }

    .app_subtitle {
      position: relative;
      z-index: 10;
      text-align: center;
      max-width: 680px;
      font-size: 18px;
      line-height: 36px;
      @media screen and (max-width: 1440.1px) {
        .app_subtitle{
          display: none;
        }
      }
    }
  }
  .app_info{
    margin-right: 55px;
    grid-area: info;
    justify-self: end;
    text-align: center;
    max-width: 540px;
    h2{
      font-family: 'Jura', sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 48px;
      line-height: 60px;
      letter-spacing: 3px;
    }
    p{
      text-align: center;
      max-width: 540px;
      font-size: 18px;
      line-height: 36px;
    }

    a{
      display: inline-block;
      padding: 14px;
      width: 243px;
      height: 72px;
      background-color: $blue;
      border-radius: 15px;
    }
    .appleBtn{
      width: 222px;
      height: 72px;
      margin-right: 18px;
      span{
        width: 208px;
        height: 49px;
        display: inline-block;
        background-image: url("../../images/Time/appleBtn.png");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .googleBtn{
      width: 243px;
      height: 72px;
      span{
        width: 208px;
        height: 49px;
        display: inline-block;
        background-image: url("../../images/Time/googleBtn.png");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  .app_phone{
    //margin-left: 118px;
    //position: relative;
    //grid-area: phone;
    //width: 309px;
    //height: 640px;
    //background-image: url("../../images/Time/Smart.png");
    //background-size: contain;
    //background-repeat: no-repeat;
    span{
      position: absolute;
      content: '';
      display: block;
      bottom: 80px;
      left: -120px;
      width: 180px;
      height: 180px;
      background-image: url("../../images/Time/n.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

