@import '../../styles/variables.scss';

.metaverse {
  margin: 0 20px;
}

.metaverse__row{
  display: grid;
  grid-template-areas:
  "header header"
  "vase space"
;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 254px;

  h2{
    margin-bottom: 54px;
    display: block;
    grid-area: header;
    text-align: center;
    font-family: 'Jura', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 3px;
  }
  p{
    margin-top: 25px;
    position: relative;
    width: 440px;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
  }
  .animation__vase{
    grid-area: vase;
    justify-self: center;
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;


  }
  .animation__space{
    grid-area: space;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


.app{
  margin: 220px 18px 0;
  position: relative;
  z-index: 1;
}

.app_row{
  display: grid;
  grid-template-areas:
  "header header"
  "info phone"
  "buttons phone"
;
  grid-template-columns: 1fr 1fr;
  .app_header {
    margin-bottom: 240px;
    position: relative;
    grid-area: header;
    justify-self: center;

    .bgLine {
      z-index: 0;
      content: '';
      position: absolute;
      display: block;
      bottom: -120px;
      left: 50%;
      transform: translateX(-50%);
      width: 1142px;
      height: 963px;
      background-image: url("../../images/Time/bgLine.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
    .app_title {
      position: relative;
      z-index: 10;
      text-align: center;
      font-family: 'Jura', sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 48px;
      line-height: 60px;
      letter-spacing: 3px;
    }
    .app_subtitle {
      position: relative;
      z-index: 10;
      text-align: center;
      width: 680px;
      font-size: 18px;
      line-height: 36px;
    }
  }
  .app_info{
    margin-right: 55px;
    grid-area: info;
    justify-self: end;
    align-self: center;
    text-align: center;
    max-width: 540px;
    h2{
      text-align: left;
      font-family: 'Jura', sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 48px;
      line-height: 60px;
      letter-spacing: 3px;
    }
    p{
      text-align: left;
      max-width: 540px;
      font-size: 18px;
      line-height: 36px;
    }
  }
  .app_buttons{
    grid-area: buttons;
    margin-top: -50px;
    display: flex;
  }
  .app_phone{
    margin-left: 118px;
    position: relative;
    grid-area: phone;

    span{
      position: absolute;
      content: '';
      display: block;
      bottom: 80px;
      left: -70px;
      width: 180px;
      height: 180px;
      background-image: url("../../images/Time/n.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.howUse{
  margin: 209px 48px 185px;
  .howUse_title{
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    font-family: 'Jura', sans-serif;
  }
  .howUse_subtitle{
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    max-width: 600px;
  }
  .howUse_accordion_block{
    margin-top: 70px;

  }
}


@media screen and (max-width: 1380px) {
  .app_row {
    .app_info {
      justify-self: left;
      width: 420px;
      h2{
        font-size: 42px;
        line-height: 54px;
      }
      p{
        max-width: 440px;
        font-size: 16px;
        line-height: 32px;
      }
    }
    .app_buttons{
      justify-self: left;
      width: 320px;
      transform: scale(0.8);
    }
    .app_phone{
      justify-self: right;
      margin: 0 75px 0 0;
      width: 340px;
      span{
        bottom: 80px;
        left: -40px;
        width: 150px;
        height: 150px;
      }
    }
  }
    .metaverse__row {
      grid-column-gap: 125px;
      p {
        margin-top: 25px;
        width: 380px;
        font-size: 16px;
        line-height: 32px;
      }
      h2 {
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 42px;
        line-height: 56px;
      }
    }
  }

@media screen and (max-width: 1024px) {
  .app{
    margin-top: 150px;
    position: relative;
    z-index: 1;
  }
  .app_row{
    .app_header {
      margin-bottom: 240px;
      position: relative;
      grid-area: header;
      justify-self: center;

      .bgLine {
        z-index: 0;
        content: '';
        position: absolute;
        display: block;
        bottom: -190px;
        left: 50%;
        transform: translateX(-50%);
        width: 942px;
        height: 893px;
        background-image: url("../../images/Time/bgLine.png");
        background-size: contain;
        background-repeat: no-repeat;
      }

      .app_title {
        position: relative;
        z-index: 10;
        text-align: center;
        font-family: 'Jura', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 3px;
      }
      .app_subtitle {
        position: relative;
        z-index: 10;
        text-align: center;
        max-width: 680px;
        font-size: 18px;
        line-height: 32px;
      }
    }
    .app_phone{
      justify-self: right;
      margin: 0 20px 0 0;
      width: 240px;
      span{
        bottom: 80px;
        left: -40px;
        width: 150px;
        height: 150px;
      }
    }
    .app_buttons{
      margin-left:-30px ;
      width: 320px;
      transform: scale(0.8);
    }
  }
  .metaverse__row {
    grid-column-gap: 55px;
    p {
      margin-top: 25px;
      position: relative;
      width: 320px;
      font-size: 16px;
      line-height: 32px;
      text-align: center;
    }
    h2{
      margin-bottom: 40px;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
    }
  }
}
@media screen and (max-width: 768px) {
  .app{
    margin-top: 50px;
    position: relative;
    z-index: 1;
  }
  .app_row{
      display: grid;
      grid-template-areas:
       "header "
      "info "
      "phone"
      "buttons"
    ;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    .app_header {
      margin: 0 auto  240px;

      justify-self: center;
      .bgLine {
        display: none;
      }

      .app_title {
        position: relative;
        z-index: 10;
        text-align: center;
        font-family: 'Jura', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 3px;
      }

      .app_subtitle {
        margin: 0 auto;
        position: relative;
        z-index: 10;
        text-align: center;
        width: 100%;
        font-size: 18px;
        line-height: 32px;
        &::after{
          z-index: 0;
          content: '';
          position: absolute;
          display: block;
          bottom: -190px;
          transform: translateX(-50%);
          width: 942px;
          height: 693px;
          background-image: url("../../images/Time/bgLineSmall.png");
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }

    .app_info{
      margin: 0;
      justify-self: center;
      h2{
        text-align: center;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 2px;
      }
      p{
        width: 380px;
        text-align: center;
        font-size: 16px;
        line-height: 32px;
      }
    }
    .app_buttons{
      justify-self: center;
      width: 320px;
      margin: 0 0 0 -120px;
      transform: scale(0.8);
    }
    .app_phone{
      margin: 0 0 0 -70px;
      width: 216px;
      height: 480px;
      justify-self: center;
      span{
        display: none;
      }
    }
  }

  .metaverse__row {
    grid-template-areas:
  "header "
  "vase"
  "space"
  ;
    grid-template-columns: 1fr ;
    grid-column-gap: 55px;
    p {
      margin-top: 25px;
      position: relative;
      width: 320px;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }
    h2{
      margin-bottom: 40px;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
    }
  }
}

@media screen and (max-width: 425px) {
  .app_row{
    .app_info{
      width: 290px;
      h2{
        width: 100%;
        text-align: center;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 2px;
      }
      p{
        width: 100%;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
      }
    }
    .app_buttons{
      justify-self: center;
      width: 320px;
      margin: 0 0 0 -120px;
      transform: scale(0.6);
    }
    .app_phone{
      margin: 0 0 0 -70px;
      width: 216px;
      height: 480px;
      justify-self: center;
      span{
        display: none;
      }
    }
  }
  .metaverse__row {
    p {
      width: 280px;
      font-size: 16px;
      line-height: 24px;
    }
    h2{
      font-size: 24px;
      line-height: 33px;
    }
  }
}

