@import '../../../styles/variables.scss';


.cylinder_container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 300px;
}
.cylinder_wrapper {
  position: relative;
  margin: 0 10px;
  overflow: hidden;
}
.cylinder_wrapper:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 20px;
  border-radius: 50px/25px;
  background-color: rgba(160, 160, 160, 0.2);
  content: '';
}

.cylinder1 {
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 200px;
  border-radius: 50px/25px;
  background-color: silver;
  transform: translateY(88%);
  opacity: 0;
  animation: CylinderAnimation 2s forwards;
}

.cylinder1:before, .cylinder2:before, .cylinder3:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 20px;
  border-radius: 50px/25px;
  background-color: $blue;
  content: '';
}
.cylinder2 {
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 150px;
  border-radius: 50px/25px;
  background-color: rgba(160, 160, 160, 0.5);
  transform: translateY(-135%);
  animation: CylinderAnimation 2s forwards;
}
.cylinder3 {
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 100px;
  border-radius: 50px/25px;
  background-color: rgba(160, 160, 160, 0.5);
  transform: translateY(-100%);
  animation: CylinderAnimation 2s forwards;
}

@keyframes CylinderAnimation {
  from {
    transform: translateY(88%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}