@import '../../../styles/variables.scss';

.exploreSlide_row{
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.exploreSlide_animation{
  display: flex;
  justify-content: center;
}

.exploreSlide_information{
  align-self: center;
  max-width: 540px;
}

