@import '../../../styles/variables.scss';

.exploreSlide_row{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.exploreSlide_animation{
  justify-self: end;
  align-self: center;
  background-image: url('../../../images/Slide/Explore.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 800px;
  height: 800px;
}

.exploreSlide_information{
  align-self: center;
  max-width: 540px;
}

