@import '../../styles/variables.scss';

.btnLearnMore{
  padding: 13px 65px 14px 36px;
  position: relative;
  font-size: 18px;
  line-height: 33px;
  font-family: 'Montserrat', sans-serif;
  background-color: $blue;
  letter-spacing: 2px;
  color: #fff;
  border: none;
  border-radius: 3px;
  &:after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:36px;
    width: 13px;
    height: 13px;
    background-image: url("https://abzagenci.imgix.net/btnArrow/arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.socialIcons_block{

  .facebook{
    display: inline-block;
    height: 48px;
    width: 48px;
    background-image: url("../../images/icons/facebook.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 18px;
  }
  .instagram{
    display: inline-block;
    height: 48px;
    width: 48px;
    background-image: url("../../images/icons/instagram.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 18px;
  }
  .subtract{
    display: inline-block;
    height: 48px;
    width: 48px;
    background-image: url("../../images/icons/subtract.png");
    background-repeat: no-repeat;
    background-size: contain;

  }
}

.email_block{
  grid-area: email;
  p{
    font-family: 'Jura', sans-serif;
    color: $dark-blue;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 3px;
  }
  div{
    display: flex;
  }
  input{

    width: 80%;
    height: 60px;
    margin-right: 18px;
    border: none;
    border-radius: 3px;
    padding: 0 18px;
    color: $dark-blue;
    ::placeholder{
      color: #9BADC2;
    }
  }
  button{
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 3px;
    background-color: $blue;
    background-image: url("../../images/icons/arrow.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.apple{
  a{
    display: inline-block;
    padding: 14px;
    width: 243px;
    height: 72px;
    background-color: $blue;
    border-radius: 15px;
  }
  .appleBtn{
    width: 222px;
    height: 72px;
    margin-right: 18px;
    span{
      width: 208px;
      height: 49px;
      display: inline-block;
      background-image: url("../../images/Time/appleBtn.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}


.google{
  a{
    display: inline-block;
    padding: 14px;
    width: 243px;
    height: 72px;
    background-color: $blue;
    border-radius: 15px;
  }
  .googleBtn{
    width: 243px;
    height: 72px;
    span{
      width: 208px;
      height: 49px;
      display: inline-block;
      background-image: url("../../images/Time/googleBtn.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
