.btnLearnMore{
  position: relative;
  background-color: #0057BD;
  color: #fff;
  margin: 20px 0 0 0;
  padding: 8px 40px 8px 10px;
  border: none;
  border-radius: 2px;
  &:after{
    content: '';
    position: absolute;
    top: 14px;
    right:15px;
    width: 13px;
    height: 13px;
    background-image: url("https://abzagenci.imgix.net/btnArrow/arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}