.timeSlide_row{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.timeSlide_animation{
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 800px;
}

.timeSlide_information{
  align-self: center;
  max-width: 540px;
}
