.timeSlide_row{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.timeSlide_animation{
  justify-self: end;
  align-self: center;
  background-image: url('../../../images/Slide/Time.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 800px;
  height: 800px;
}

.timeSlide_information{
  align-self: center;
  max-width: 540px;
}
